name: Go

on:
  push:
    branches:
      - main
      - ci/*
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: gha-runner-scale-set

    steps:
      - uses: actions/checkout@v5
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.24.4"
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9.2.0
        with:
          version: v2.7.2
          install-mode: "binary"
      - name: Install dependencies
        run: go mod download
      - name: Build
        run: go build -v ./cmd/bot
      - name: Test with the Go CLI
        run: go test ./...
