name: Go

on:
  push:
    branches:
      - main
      - ci/*
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: gha-runner-scale-set

    steps:
      - uses: actions/checkout@v5
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.24.4"
      - name: Install dependencies
        run: go mod download
      - name: Build
        run: make build
      - name: Test with the Go CLI
        run: make test
